<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Interview Cancelled by Organiser<br>
    	<b>Title <%=@i.title%> <br>
    	From <%=@i.start%> <br>
    	To <%=@i.end%> <br></b>
      Thanks for joining and have a great day!</h1>
  </body>
</html>