<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Interview Management Portal, <%= @u.name %></h1>
    <h3>  To login to the site, just follow this link: <%= @url %>.</h3>
    <h4>Thanks for joining and have a great day!</h4>
  </body>
</html>